.projects {
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
   width: 100%;
   .card {
      width: 310px;
      height: 500px;
      font-size: 1rem;
      list-style: none;
      border: solid $AUX_2_color 1px;
      border-radius: 5px;
      margin: 25px;
      box-shadow: 3px 3px 5px $AUX_2_color;
      transition: 0.3s;
      &__cover {
         // border: solid #fff;
         height: 200px;
      }
      .features {
         position: relative;
         // border: solid red 3px;
         height: 300px;
         padding: 20px;
         h3 {
            font-size: 1.2em;
            margin-bottom: 15px;
            letter-spacing: 5px;
            text-decoration: underline;
         }
         p {
            letter-spacing: 2px;
         }
         .tags {
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 15px;
            .tag {
               border: solid 1px $tertiary_color;
               width: 55px;
               height: 55px;
               margin: 5px;
               img {
                  // object-fit: contain;
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }
   }
   .card:hover {
      transform: scale(1.05);
   }
}
