.about-page {
   margin-top: 10vh;
   width: 80%;
   .subtitle {
      color: #d19940;
      height: 35px;
      margin: 20px 35px;
   }
   p {
      color: $second_color;
      line-height: 37px;
      font-size: 1.4rem;
      margin-left: 35px;
   }
}

@media screen and(max-width: 870px) {
   .about-page {
      width: 90%;
      margin: 50px auto;
      padding: 0;
   }
}
