footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   max-height: 60px;
   color: $second_color;
   text-align: center;
   border-top: solid $tertiary_color 1px;
   margin-top: 15px;
   padding: 20px;
}

