header {
   position: fixed;
   background-color: $first_color;
   top: 0;
   left: 0;
   width: 100%;
   height: 4rem;
   line-height: 5.3rem;
   padding: 1rem 15rem 1rem;
   background-color: $first_color;
   border-bottom: solid $tertiary_color 1px;
   z-index: 10;
   .rm-title {
      position: absolute;
      left: 9.5%;
      font-size: 1.3rem;
      text-shadow: 5px 5px 3px #000;
   }
}

@media screen and(max-width:900px) {
   header {
      position: inherit;
      padding: 0;
      height: 6rem;
      .rm-title {
         margin-top: 25px;
         font-size: 2.7rem;
      }
   }
}
