main::before {
   content: '';
   box-sizing: border-box;
   position: absolute;
   left: 10%;
   display: block;
   background: linear-gradient($tertiary_color, $first_color);
   width: 2px;
   height: 65%;
}
@media screen and(max-width: 950px) {
   main::before {
      content: '';
      display: none;
   }
}
