nav {
   position: absolute;
   right: 10%;
   width: 40%;
   ul {
      display: flex;
      justify-content: space-between;
      color: #fff;
      li {
         transition: 0.3s;
         z-index: 11;
         margin-right: 50px;
         font-size: 1.3rem;
         text-shadow: 5px 5px 3px #000;
         .active {
            color: $fourth_color;
         }
      }
      li:hover {
         transform: translateX(5px);
         color: $second_color;
         text-shadow: 0 0 7px $AUX_2_color, 0 0 10px $AUX_2_color,
            0 0 42px $tertiary_color, 0 0 77px $tertiary_color,
            0 0 100px $tertiary_color;
      }
   }
}

.nav-bar {
   display: block;
}

.close {
   display: none;
}
.open {
   display: true;
}
.responsive-nav {
   position: absolute;
   right: 0;
   top: 98px;
   bottom: 0;
   background-color: $first_color;
   border-left: solid $tertiary_color 1px;
   z-index: 55;
   opacity: 0;
   animation: apear 1s;
   animation-fill-mode: both;
   ul {
      width: 100%;
      height: 100vw;
      flex-direction: column;
      margin: 25px auto;
      li {
         margin: 25px;
      }
   }
}

@keyframes apear {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
